h1 シェア情報を入力

= form_with model:@item,local:true do |f|
  .form-group
    =f.label :tittle
    =f.text_field :tittle,class: 'form-control',id: 'task_tittle'
  .form-group
    =f.label :content
    =f.text_area :content,row:5, class: 'form-control',id: 'task_content'
  =f.submit nil,class: 'btn btn-primary'
