%link {
  cursor: pointer;
  text-decoration: underline;
}

%notice__alert {
  width: 600px;
  height: 50px;
}

%background {
  width:600px;
}

%like-icon {
  color:#EA352D;
}

%unlike-icon {
  color:#6c757d;
}

%badge {
  font-size: 10%;
}

%badge-danger {
  font-size: 14px;
  display: inline;
}

%card-size {
  max-width: 21rem;
}

%card-badge {
  position:absolute;
  top: 10px;
  left: 10px;
}

%card-item-img {
  width: 100%;
  height: 220px;
}

%card-user-img {
  width: 30px;
  height: 30px;
}

%card-item-user-img {
  width:25px;
  height:25px;
}

%dropdown-menu {
  color: #ffffff;
  background-color: #EA352D;
  font-size: 10px;
  width: 16px;
  height: 16px;
}

%word-wrap-style {
  word-wrap: break-word;
}
