// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.items__notice {
  @extend %notice__alert;
}

.items__alert {
  @extend %notice__alert;
}

.items__badge {
  @extend %badge-danger;
}

.items__title {
  color:#6c757d;
}

.items__background {
  @extend %background
}

.item__image {
  width:400px;
  height:300px;
}

.item__user__img {
  width:30px;
  height:30px;
}

.item__submit {
  width:150px;
}

.item__textarea {
  resize: auto;
  max-width: 400px;
  max-height: 600px;
  min-width: 100px;
  min-height: 100px;
  width:400px;
  height:500px
}

.items-card {

 &__card-size {
   max-width:21rem;
 }

 &__card-item-img {
   width:100%;
   height:220px;
 }

 &__card-user-img {
   width:25px;
   height:25px;
 }

 &__card-like-icon {
   color:#EA352D;
 }

 &__card-unlike-icon {
   color:#6c757d;
 }

}

.items-comments {
  &__comments-user-imag {
    width:30px;
    height:30px;
  }
}

input[type=text] {
  width:400px;
}

textarea {
  resize: auto;
  max-width: 100%;
  max-height: 600px;
  min-width: 100px;
  min-height: 100px;
  width:100%;
  height:500px
}
