// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.n-circle {
  background-color: rgb(234, 53, 45);
  color: rgb(255, 255, 255);
  font-size: 12px;
  height: 20px;
  left: 6px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: -2px;
  width: 20px;
  border-radius: 50%;
}
