// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "global";

.users-card {

  &__card-size {
    @extend %card-size;
  }

  &__card-badge {
    @extend %card-badge;
  }

  &__card-item-img {
    @extend %card-item-img;
  }

  &__card-user-img {
    @extend %card-user-img;
  }

  &__card-item-user-img {
    @extend %card-item-user-img;
  }

}

.card-like-icon {
  @extend %like-icon;
}

.card-unlike-icon {
  @extend %unlike-icon;
}

.users-background {
  @extend %background
}

.user-show {

  &__show-background {
    width:800px;
  }

  &__show-user-img {
    width:100px;
    height:100px;
  }
}

.users__badge {
  @extend %badge-danger;
}

.users-notifications-background {
  width:800px;
}

.users-img {
  width:50px;
  height:50px;
}
